/* SMALLER THAN 1920 */
//---------------------//
@media screen and (max-width: 1920px)
{
	.container {
		max-width: 660px;
	}

	section {
		float: left;
		margin: 1.51515151%;   /*  10px ÷ 660px = .01515151 */
		width: 63.63636363%;   /* 420px ÷ 660px = .63636363 */  
		border: 2px solid #a1a1a1;
		background: grey;
		border-radius: 25px;
	}

	aside {
		float: right;
		margin: 1.51515151%;   /*  10px ÷ 660px = .01515151 */
		width: 30.30303030%;   /* 200px ÷ 660px = .30303030 */
		border: 2px solid #a1a1a1;
		background: grey;
		border-radius: 25px;
	}

	section, aside p {
		font-family: sans serif;
		font-size: 20px;
		margin-right: auto;
		margin-left: auto;
		text-align: center;
	}
}

/* SMALLER THAN 420 */
//------------------//
@media all and (max-width: 420px)
{
	section, aside {
		float: none;
		width: auto;
	}
}

/* LANDSCAPE */
//------------//
@media all and (orientation: landscape) {
	section, aside {
		float: none;
		width: auto;
	}
}

/* VIEWPORT */
//-----------//
@viewport {
	width: device-width;
	zoom: 1;
}
